body {
    background-color: rgb(203, 255, 238);
}
h1 {
   font-family: cursive;
   font-size: 50px;
}
div {
    display: inline-block;
}
h1 {
    float: left;
}
.Logo {
    border-radius: 150px;
    width: 200px;
    height: 200px;
    float: left;
}
header a {
    text-decoration: none;
    color: chocolate;
}
footer a {
    text-decoration: none;
}
header a:hover {
    color: orange;
}
header ul {
    float: right;
    background-color: brown;
    border-radius: 10px 0px 0px 10px;
}
header li {
    display: inline-block;
    font-size: 25px;
    margin-right: 30px;
}
article {
    background-color: rgba(74, 74, 75, 0.787);
}
header {
    height: 200px;
}
main img {
    width: 250px;
    float: left;
    margin-right: 10px;
}
main article {
    color: rgb(195, 195, 195);
    margin-top: 81px;
    padding: 25px;
}
#copyright {
    text-align: right;
}
footer li {
    display: inline-block;
    margin-left: 30px;
}
footer ul {
    background-color: rgb(243, 145, 202);
    padding: 5px;
    margin-top: 100px;
}